emp-sapi/src/main/mule/emp-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bc1038b6-75f5-4b6a-873e-dbee04a1414c" basePath="emp-sapi" tracking:enable-default-events="false" initialState="" bussinessEventsLabel="" maxConcurrency="">
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bc1038b6-75f5-4b6a-873e-dbee04a1414c" tracking:enable-default-events="false" initialState="" bussinessEventsLabel="" maxConcurrency="">
		<db:oracle-connection host="localhost" user="system" password="Kahgert#25" instance="XE" />
	</db:config>
	<flow name="create-employeeFlow" doc:id="bc1038b6-75f5-4b6a-873e-dbee04a1414c" >
		<http:listener doc:name="create employee lisener" doc:id="e90fffae-9a3f-469f-8123-e62b9b6885da" config-ref="HTTP_Listener_config" path="create-employee"/>
		<logger level="INFO" doc:name="Start Log" doc:id="2589a930-9c4b-42cf-a233-f6782f85f35b" message="the create employee flow started "/>
		<db:insert doc:name="Insert Employee" doc:id="94ec3472-3556-494f-8133-5e9e95c4bbca" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into emp(emp_id,emp_name,emp_status) values(:empID, :empName, :empStatus)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: payload.employeeID,
	empName: payload.employeeName,
	empStatus: payload.employeeStatus
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Set Response" doc:id="8346ccf6-0fbe-42ea-8e49-6024f60b077a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Status: 200,
	Message: "Sucess"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="e24a5d5b-1658-4245-a1ea-c6d18cc484c2" message="The flow has completed "/>
	</flow>
</mule>
