dataweave-demo/src/main/mule/dataweave-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweave-demoFlow" doc:id="f26b70bc-9361-45ab-ae26-d7c05d2ed292" >
		<ee:transform doc:name="Transform JSON To All Types" doc:id="a998b9e9-b1f9-493b-9c4a-421e712f1ea4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
cust: {
	custId: payload.custId,
	companyName: (payload.companyName default "") ++ payload.companyName,
	contactName: (payload.contactName default "") ++ payload.contactName,
	contactTitle: (payload.contactTitle default "") ++ payload.contactTitle,
	address: (payload.address default "") ++ payload.address,
	city: (payload.city default "") ++ payload.city,
	region: payload.region,
	postalCode: (payload.postalCode default 0) + payload.postalCode as String,
	country: (payload.country default "") ++ payload.country,
	phone: (payload.phone default "") ++ payload.phone,
	mobile: (payload.mobile default "") ++ payload.mobile as String,
	email: (payload.email default "") ++ payload.email as String,
	fax: (payload.faxdefault "") ++ payload.fax
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow1" doc:id="58364eeb-2982-4e2f-8845-d4e5e1c1e30c" >
		<ee:transform doc:name="Transform  XML to All Type" doc:id="2022ac6f-1ba5-4baa-acf4-cc057118679a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price as String,
		properties: {
			title: (payload.book.title default "") ++ payload.book.title,
			author: payload.book.author,
			year: payload.book.year as String,
			language: payload.book.title.@lang
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow2" doc:id="f05a8c81-9185-4718-96ac-b03b8e867afb" >
		<ee:transform doc:name="Transform  Attribute Based JSON  To XML" doc:id="de52cdc9-65f6-494f-8baf-68815d44ffab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.language): payload.item.properties.title,
		year: payload.item.properties.year as Number,
		price: payload.item.price as Number,
		author @(loc: "US"): payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow3" doc:id="452a5d7f-e7d8-477e-b0c8-e8f9b6abb20e" >
		<ee:transform doc:name="JSON to CSV" doc:id="dc9eb1bd-5879-403c-b87a-ab0c05b7cac7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
[{
	empID: payload.empID as String,
	empName: payload.empName,
	empEmail: payload.empEmail,
	empStatus: payload.empStatus
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
