mule_event_demo/src/main/mule/read-header-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-header-demoFlow" doc:id="971b0652-46df-48ef-a908-8ca00e25fed5" >
		<http:listener doc:name="Listener" doc:id="8d95854c-09f7-450e-8b2a-47671ea599df" config-ref="HTTP_Listener_config" path="read-header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="6539d6e1-b546-4091-ba8f-8dc229a28b5a" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
