mule_event_demo/src/main/mule/read-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-xml-demoFlow" doc:id="2a879a9f-d1b2-4a84-a0df-2720bf3bf8d1" >
		<http:listener doc:name="Listener" doc:id="291d0edb-4389-4ff1-98dc-9483d336f4a8" config-ref="HTTP_Listener_config" path="read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="80637468-d4d6-4043-90c0-de57f777fc57" message="#[payload.employee.employeeID]"/>
	</flow>
</mule>
