mule_event_demo/src/main/mule/read-query-params-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-query-params-demoFlow" doc:id="816bdf22-f01d-404e-b96f-fbe882650061" >
		<http:listener doc:name="Listener" doc:id="903d11be-762e-4973-9235-000f984c040c" config-ref="HTTP_Listener_config" path="read-query-params"/>
		<logger level="INFO" doc:name="Logger" doc:id="5c9473cb-d9dc-4e87-a91b-b24ab7d28e03" message="#[attributes.QueryParams.EmployeeID]"/>
	</flow>
</mule>
