restservice-oracle-db/src/main/mule/delete-employee .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employee_Flow" doc:id="15991329-0945-496c-a4dc-df6ef32e4481" >
		<http:listener doc:name="delete-employee " doc:id="29484e2d-a490-42f7-8497-6d0acfef2722" config-ref="HTTP_Listener_config" path="delete-employee/{employeeID}/{employeeName}" allowedMethods="DELETE"/>
		<logger level="INFO" doc:name="Start Log" doc:id="d90c815d-3c4c-4364-8280-0a393cfee4a7" message="Delete employee flow started "/>
		<db:delete doc:name="Call Delete Employee Stored Procedure" doc:id="1959398d-2e15-46e9-9d21-68434901bb52" config-ref="Database_Config">
			<db:sql ><![CDATA[{call delete_emp(:empID, :empName)}
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.uriParams.employeeID,
	empName: attributes.uriParams.employeeName
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Set Response" doc:id="79eae015-1098-46ec-8f7b-2d9d3a453c8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "Status": 200,
  "message": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="d7a6fd19-83db-42d0-b490-31553178a6bf" message="Completed Deleted Employee flow"/>
	</flow>
</mule>
