restservice-oracle-db/src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="a04c32e5-f117-450a-b545-97a1a7847406" >
		<http:listener doc:name="update Employee Listener" doc:id="8481444a-ec17-447b-8f05-0440923f5d13" config-ref="HTTP_Listener_config" path="update-employee" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Start Log" doc:id="693b916f-e649-4f92-8c27-d817c29ca366" message="Started update employee flow "/>
		<db:update doc:name="Update Employee" doc:id="73caf039-ebfa-40f1-b38e-3f355567a17f" config-ref="Database_Config">
			<db:sql ><![CDATA[update emp set emp_status=:empStatus where emp_id=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empStatus: payload.employee.employeeStatus,
	empID: payload.employee.employeeID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set Response" doc:id="5ed1283a-84be-48c2-837a-a95eb7ef2417" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		Status: 200,
		Message: "Success"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End  Log" doc:id="bec03712-35c0-46cc-8066-b2e510b2ac0a" message="Complete Update employee log "/>
	</flow>
</mule>
